doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title w3newbie HTML Email
  style
    include style.css
body 
    center.wrapper
        .webkit 
            table.outer(align="center")
                tr
                    td 
                        table(width="100%")
                            tr 
                                td(style="background-color: #388CDA; padding: 10px; text-align: center;") 
                                    a(href="#")
                                        img(src="img/w3newbie-white.png", alt="logo" width="180" title="logo")
                tr 
                    td 
                        a(href="#")
                            img(src="img/1200x700.jpg", alt="" width="600" style="max-width: 100%;") 
                tr
                    td 
                        table(width="100%")
                            tr 
                                td.three-columns
                                    table.column
                                        tr 
                                            td.padding
                                                table.content 
                                                    tr
                                                        td 
                                                            a(href="#") 
                                                                img(src="img/380x280.jpg", alt="watch" width="150" style="max-width: 150px;")
                                                    tr 
                                                        td(style="padding: 10px;") 
                                                            p(style="font-size: 17px; font-weight: bold;") APPLE WATCH 
                                                            p Responsive HTML Email Templates that you can build around to master email development.
                                                            a(href="#") Learn more.. 
                                    table.column
                                        tr 
                                            td.padding
                                                table.content 
                                                    tr
                                                        td 
                                                            a(href="#") 
                                                                img(src="img/380x280-2.jpg", alt="watch" width="150" style="max-width: 150px;")
                                                    tr 
                                                        td(style="padding: 10px;") 
                                                            p(style="font-size: 17px; font-weight: bold;") EAR PODS 
                                                            p Responsive HTML Email Templates that you can build around to master email development.
                                                            a(href="#") Learn more.. 
                                    table.column
                                        tr 
                                            td.padding
                                                table.content 
                                                    tr
                                                        td 
                                                            a(href="#") 
                                                                img(src="img/380x280-3.jpg", alt="watch" width="150" style="max-width: 150px;")
                                                    tr 
                                                        td(style="padding: 10px;") 
                                                            p(style="font-size: 17px; font-weight: bold;") WATCH BANDS
                                                            p Responsive HTML Email Templates that you can build around to master email development.
                                                            a(href="#") Learn more.. 
                tr 
                    td 
                        table(width="100%")
                            tr 
                                td(style="background-color: #388dca; padding: 15px; text-align: center;")
                                    p(style="font-size: 18px; color: #ffffff; margin-bottom: 13px;") Connect with us 
                                    a(href="#")
                                        img(src="img/white-facebook.png", alt="" width="30")  
                                    a(href="#")
                                        img(src="img/white-twitter.png", alt="" width="30") 
                                    a(href="#")
                                        img(src="img/white-youtube.png", alt="" width="30") 
                                    a(href="#")
                                        img(src="img/white-linkedin.png", alt="" width="30") 
                                    a(href="#")
                                        img(src="img/white-instagram.png", alt="" width="30") 
                tr 
                    td(style="background-color: #efefef;")
                        table(width="100%")
                            tr 
                                td(style="padding: 20px; text-align: center; padding-bottom: 10px;")
                                    a(href="#")
                                        img(src="img/w3newbie.png", alt="" width="160") 
                                    p(style="font-size: 16px; margin-top: 18px; margin-bottom: 10px;") w3newbie HTML Email
                                    p(style="font-size: 16px; margin-bottom: 10px;") 123 Street Road, City, State 55555
                                    p
                                        a(href="mailto:email@example.com") email@example.com
                                    p 
                                        a(href="tel:18008888888 ") 1-800-888-8888 
                            tr 
                                td(align="center" style="padding-bottom: 25px; text-align: center;")
                                    p 
                                        a(href="#" style="font-size: 13px;") UNSUBSCRIBE
                            tr 
                                td(height="20" style="background-color: #388cda;")

    <!-- FOOTER SECTION -->
                //-                     a(href="#")
                //-                         img(src="", alt="")
                //- tr
                //-     td 
                //-         table(width="100%")